/*                                                          BODY */

body {
    margin: 0;
}

/*                                                          NAVBAR */

#navbar {
    padding: 0 30px;
    margin-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

li {
    display: inline;
    margin-left: 15px;
}

/*                                                          Main */

.main-div {
    text-align: center;
}

#google-logo-div {
    margin-top: 89px;
    width: 100%;
    height: 233px;
}

.google-logo {
    width: 272px;
    height: 92px;
    padding-top: 109px;
}


#search-bar-div {
    width: 100%;
    height: 50px;
    margin-bottom: 8px;
}

#search-bar-join {
    width: 544px;
    height: 44px;
    margin: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
    z-index: 3;
    padding: 0px 8px 0 16px;
}

#search-bar {
    float: left;
    text-align: center;
    margin: auto;
    height: 44px;
}

#input-bar {
    width: 520px;
    height: 34px;
    margin-top: 5px;
    border: none;
    z-index: 4;
    background: transparent;
    display: flex;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

#input-bar:focus {
    outline: none;
}

#microphone-div {
    display: flex;
    background: transparent;
    width: 24px;
    height: 44px;
    float: right;
    margin: auto;

}

#microphone-icon {
    width: 24px;
    height: 24px;
    margin: auto;
}

.btn-search {
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    margin: 11px 4px;
    box-sizing: border-box;
}

#google-language {
    margin: 12px 0;
}

#google-language-p {
    font-size: small;
    font-family: Arial, sans-serif;
}

/*                                                             FOOTER */

#footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    background-color: rgb(272, 272, 272);
    background-color: #f2f2f2;
    height: 80px;
    
}

#footer-p {
    margin: auto;
    color: #5f6368;
    margin: 0 30px 0 30px;
    padding-left: 27px;
    padding-right: 27px;
    font-size: 15px;
    line-height: 40px;
    font-family: Arial, sans-serif;
}
#footerUpper {
    height: 40px;
    border-top: solid 1px #e4e4e4;
    margin-top: auto;
    
    
}

#footerDown{
    border-top: solid 1px #e4e4e4;
}

#footerDownLeft { 
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0;
    padding-left: 27px;
    padding-right: 27px;
    float: left;
    height: 40px;
}

#footerDownRight {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0;
    padding-left: 27px;
    padding-right: 27px;
    float: right;
    height: 40px;
}

.footer-link {
    text-decoration: none;
    color: #5f6368;
    padding-right: 27px;
    line-height: 40px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.footer-link:hover {
    text-decoration: underline;
}